.main__title{
    margin: 0;
    font-weight: 400;
    font-size: 22px;
    padding-bottom: 23px;
    border-bottom: 1px solid #000000;
    align-self: flex-start;
    width: 100%;
}

@media screen and (max-width: 540px){
    .main__title{
        font-size: 18px;
        padding-bottom: 28px;
    } 
}