.movies-card-list{
    width: 100%;
    background-color: white;
    /* max-width: 1280px;
    padding-top: 70px;
    width: 90%;
    margin: 0 auto;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(364px,281px));
    grid-gap: 37px 24px;
    justify-content: center; */ 
}
.cards__list { 
    /* width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    grid-column-gap: 30px;
    grid-row-gap: 60px;
    list-style: none;
    margin: 0;
    padding: 0;
    object-position: center;
    justify-content: center; */
    padding-top: 70px;
    width: 90%;
    margin: 0 auto;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(364px,281px));
    grid-gap: 37px 24px;
    justify-content: center;
   
}

  
  .cards__not-found {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
  }

@media screen and (max-width: 800px){
    .cards__list{
        grid-template-columns: repeat(auto-fit, minmax(339px,262px));
        grid-gap: 30px;
        
    }
}

@media screen and (max-width: 500px){
    .cards__list{
        padding-top: 40px;
        grid-template-columns: repeat(auto-fit, minmax(300px,237px));
        grid-gap: 14px;
    
    }
}