.flex-column{
    display: flex;
    flex-direction: column;
}
.profile{
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
}
.profile__container {

    max-width: 410px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    font-family: 'Inter', Arial, Helvetica, sans-serif;

}
.profile__info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    color: #000;
  }

  .profile__info:first-child{
    border-bottom: 1px solid #E8E8E8;
}

  
.profile__title{

    margin-top: 74px;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    margin: 74px 0 126px 0;
}


.profile__form{
    display: flex;
    flex-direction: column;
    width: 410px;

}

.profile__label{
    border: none;
    display: flex;
    align-items: center;
    font-size: 11px;
    font-weight: 500;
    word-break: break-all;
    justify-content: space-between;
    
}
.profile__placeholder {
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #000;
    text-align: right;
    margin: 0;
  }

.profile__form-edit-button{
    margin-top: 220px;
}

.profile__logout-button{
    margin-top: 16px; 
    color: #EE3465;
}

.button{
    transition: all 0.9s ease;
    border: none;
    cursor: pointer;
    background-color: transparent;
    font-size: 13px;
    font-weight: 400;
}

.button:hover{
    opacity: 0.6;
}
.button_disabled {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    box-sizing: border-box;
    opacity: .2;
  }
  
 .button_disabled:hover {
    opacity: .2;
    cursor: not-allowed;
  }
.profile__error {
    max-width: 100%;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #ff0000;
    text-align: right;
  }
  

@media screen and (max-width: 400px){
    .profile__container{
        max-width: 260px;
    }
    
    .profile__title{
        margin: 70px 0 80px 0;
    }
    
    .profile__form{
        width: 260px;
    
    }
    
       
    .profile__form-edit-button{
        margin-top: 379px;
    }
    
    .profile__logout-button{
        margin-top: 12px; 
        
    }
    
    .button{
        font-size: 12px;
        
    }
}