.logo{
    width: 38px;
    height: 38px;
}

.link{
    transition: all 0.9s ease;
}

.link:hover{
    opacity: 0.6;
}

@media screen and (max-width: 650px){
    .logo{
    width: 38px;
    height: 38px;
}
}