.header{
    max-width: 1280px;
    min-height: 74px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 100%;
   
}
.header__container{
 margin: 18px auto;
 width: 90%;
 display: flex;
 flex-direction: row; 
 align-items: center;
 justify-content: space-between; 
}

